{
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@common/(.*)$",
    "^@features/(.*)$",
    "^@context/(.*)$",
    "^(?!.*[.]css$)[./].*$"
  ],
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 100,
  "semi": false,
  "singleQuote": true
}
